- thumbnail ||= false
- title ||= false
- groups ||= false
- index_data ||= false
- metadata_list = get_metadata_list(document)
- if index_data
  %h3 Descriptive Information

  %dl.defList
    - if document['clio_s']
      %dt="In CLIO"
      %dd=link_to_clio(document)
    - document_show_fields.select { |f| document[f] && (title || !f.include?("title") || f == 'clio_s') }.each do |solr_fname|
      %dt= document_show_field_labels[solr_fname]
      %dd= h(document[solr_fname].listify.join("<br/>"))


- if thumbnail
  %h3 Thumbnail
  %div
    %img(src="#{doc_object_method(document,'/ldpd:sdef.Image/getThumbnail')}")

%h3 Metadata

.metadata-list
  - metadata_list.each do |metadata|
    = render :partial => "catalog/_show_partials/metadata", :locals => {:document => document, :metadata => metadata, :display => true}

- if groups
  = render :partial => "catalog/_show_partials/groups", :locals => {:document => document}

