- thumbnail ||= false
- title ||= false
- groups ||= false
- index_data ||= false
- metadata_list = get_metadata_list(document)
- if index_data
  %h3 Descriptive Information

  %dl.defList
    - if document['clio_s']
      %dt="In CLIO"
      %dd=link_to_clio(document)
    - document_show_fields.select { |f| document[f] && (title || !f.include?("title") || f == 'clio_s') }.each do |solr_fname|
      %dt= document_show_field_labels[solr_fname]
      %dd= h(document[solr_fname].listify.join("<br/>"))


- if thumbnail
  %h3 Thumbnail
  %div
    %img(src="#{image_thumbnail(document)}")

.metadata-list
  .metadata.yui-gc
    - metadata_list.each do |metadata|
      = render :partial => "catalog/_show_partials/metadata_#{metadata[:type].underscore}", :locals => {:metadata => metadata, :document=>document}
    %div.detail
      %div.items.yui-gf
        %div.yui-u.first
          %span.title_data="XML Metadata:"
        .yui-u{:style=>"margin-left:0px;"}
          = metadata_list.collect {|x| link_to "#{x[:type]}", x[:show_url]}.join(", ")

- if groups
  = render :partial => "catalog/_show_partials/groups", :locals => {:document => document}

