%div.member-item
  %div.yui-gf
    %div.yui-u.first
      = render_document_partial(document, :thumbnail) unless document.nil?
    %div.yui-u
      - if !document.nil?
        %p.index_title=link_to_clio(document)
      = render :partial => "catalog/_show_partials/metadata_brief", :locals => {:document => document, :link => true} unless document.nil?
      %div.detail
        .yui-gf.items
          .yui-u.first
            %span.title_data="Download Metadata:"
          .yui-u
            = get_metadata_list(document,true).collect { |x| link_to "#{x[:type]}", x[:show_url]}.join(", ")
      %hr
      = render :partial => "catalog/_show_partials/image/display_derivatives", :locals => {:document => document} unless document.nil?
