- metadata_list = get_metadata_list(document)
%div.member-item
  %div.yui-gf
    %div.yui-u.first
      = render_document_partial(document, :thumbnail)
    %div.yui-u
      %div.index_title
        = link_to_clio(document)
      = render :partial => "catalog/_show_partials/metadata_brief", :locals => {:document => document}
      = render :partial => "catalog/_show_partials/metadata", :collection => metadata_list, :locals => {:document => document, :display => false, :brief => true}
      %hr
      = render :partial => "catalog/_show_partials/image/display_derivatives", :locals => {:document => document}
