<% # main container for facets/limits menu -%>
<div id="facets">
  <h2>Limit your search</h2>
  <% facet_field_names.each do |solr_fname| %>
    <div>
      <% display_facet = @response.facets.detect {|f| f.name == solr_fname} -%>
      <% if display_facet.items.length > 0 %>
        <h3 class="toggle"><%= facet_field_labels[solr_fname] -%></h3>
        <% item_context = (solr_fname =~ /.*_h$/) ? Blacklight::Solr::Hfacets.subfacets(display_facet.items.first.hits) : display_facet.items -%>
        <ul>
          <% item_context.each do |item| -%>
            <% if !item.instance_variables.include? "@label" -%>
              <% item.extend(Blacklight::Solr::FacetExt) -%>
            <% end -%>
              <li>
            <% if facet_in_params? solr_fname, item.value %>
                <span class="selected"><%= h(item.label) %> (<%= format_num item.hits %>)</span>
                [<%= link_to 'remove', remove_facet_params(solr_fname, item.value, params), :class=>'remove' %>]
              <% else %>
                <%= link_to h(item.label), add_facet_params(solr_fname, item.value) %> (<%= format_num item.hits %>)
            <% end -%>
            <% if item.instance_variables.include? "@subfacets" -%>
<% # there needs to be recursion over subfacet lists here -%>
              <span class="toggle" href="" onclick="return false">[+/-]</span>
              <ul>
              <% item.subfacets.each do |subfacet| -%>
                <li>
              <% if facet_in_params? solr_fname, subfacet.value %>
                <span class="selected"><%= h(subfacet.label) %> (<%= format_num subfacet.hits %>)</span>
                [<%= link_to 'remove', remove_facet_params(solr_fname, subfacet.value, params), :class=>'remove' %>]
                <% else %>
                <%= link_to h(subfacet.label), add_facet_params(solr_fname, subfacet.value) %> (<%= format_num subfacet.hits %>)
                <% end -%>
              <% end -%>
                </li>
              </ul>
            <% end -%>
              </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>
