- thumbnail ||= false
%h3 Descriptive Information

%dl.defList
  - document_show_fields.select { |f| document[f] }.each do |solr_fname|
    %dt= document_show_field_labels[solr_fname]
    %dd= h(document[solr_fname].listify.join("<br/>"))



- if thumbnail
  %h3 Thumbnail
  %div
    %img(src="#{doc_object_method(document,'/ldpd:sdef.Image/getThumbnail')}")

%h3 Inspect

= document.inspect

%h3 Metadata

%dl.defList
  - get_metadata_list(document).each do |meta_hash|
    - meta_hash.each_pair do |desc, url|
      %dt= desc.capitalize
      %dd
        = link_to "Download", fedora_content_path(:download, url,document["title_t"].first.to_s.gsub(/[\:\@\#]/,"") + "_" + desc + ".xml")

