%span.index_title
  - if counter
    = (counter + 1 + @response.params[:start].to_i).to_s
  = "."
  = link_to_document document, :label=>document_show_link_field, :counter => (counter + 1 + @response.params[:start].to_i)
  - if !(document[document_show_link_field][0][-1] == '.')
    = "."
  - groups = get_groups(document)
  - if groups.length > 0
    %span.index_title
      - _links = groups.collect {|g| link_to_document(g,:label=>document_show_link_field)}
      %span.from_groups="From: #{_links.join(',')}."
  %span.index_metadata
    - if document["lib_name_facet"]
      = document["lib_name_facet"][0] + '.'
    - if document["extent_t"]
      = document["extent_t"][0] + '.'
    = document["lib_repo_facet"]
    - if document["lib_collection_facet"]
      = " - " + document["lib_collection_facet"].join(',')
