<%# default partial to display solr document fields in catalog show view -%>
<table class="defList" style="width:75%">
  <caption>Descriptive Information</caption>
  <% document_show_fields.each do |solr_fname| -%>
    <% if document[solr_fname] %>
      <tr>
        <th><%= document_show_field_labels[solr_fname]%></th>
      <% if document[solr_fname].is_a?(Array) %>
        <td>
        <% document[solr_fname].each do |val| %>
          <%= val %><%= "<br/>" unless val == document[solr_fname].last %>
        <% end %>
        </td>
      <% else %>
        <td><%= document[solr_fname] %></td>
      <% end -%>
      </tr>
    <% end -%>
  <% end -%>
  </tr>
</table>

<% if document["rft_id"]%>
<% rft_id = document["rft_id"] -%>
<div id="tags"></div>
<p id="shortdesc">rft_id: <%= rft_id -%></p>
<div id="map" class="smallmap"></div>
<div id="data" ></div>

<script type="text/javascript" >
init_map("<%= rft_id -%>");
</script>
<% else -%>
<p>document["rft_id"] was false</p>
<% end -%>
