.yui-g
  - if current_user
    .yui-u.first
      = link_to("Log Out", logout_path) + " [" + link_to(current_user.login, user_path(current_user)) + "]"
    - if current_user.admin?
      .yui-u
        = link_to("Admin", :controller => :admin)
    - else
      .yui-u="&nbsp;"
  - else
    .yui-u.first= link_to 'Login', login_path
    .yui-u="&nbsp;"
  .yui-g
    .yui-u.first
      = link_to "Saved Searches", saved_searches_path
    .yui-u
      = link_to "Search History", search_history_index_path
      - if current_user and current_user.last_search_url
        = link_to('View your last search', catalog_index_path(current_user.last_search_url))
  .yui-g
    .yui-u.first= link_to('Saved Items', bookmarks_path)
    .yui-u
      %span#folder_number= ""
