- form_for @report do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :category
    %br
    = f.text_field :category
  %p
    = f.label :generated_on
    %br
    = f.datetime_select :generated_on
  %p
    = f.label :user_id
    %br
    = f.text_field :user_id
  %p
    = f.label :options
    %br
    = f.text_area :options
  %p
    = f.label :data
    %br
    = f.text_area :data
  %p
    = f.submit
